.QuizList {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  flex-grow: 1;
  width: 100%;
  background: -webkit-linear-gradient(
      -39.81deg,
      rgba(117, 188, 172, 1) 0,
      rgba(0, 0, 0, 0) 59%,
      rgba(0, 0, 0, 0) 100%
    ),
    -webkit-linear-gradient(-135deg, rgba(230, 62, 97) 0, rgba(0, 0, 0, 0) 100%),
    -webkit-linear-gradient(45deg, rgba(227, 202, 118, 1) 0, rgba(0, 0, 0, 0)
          39%, rgba(0, 0, 0, 0) 100%),
    -webkit-linear-gradient(-225deg, rgba(0, 126, 157, 1) 0, rgba(
            0,
            126,
            157,
            0.31
          )
          41%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 100%),
    rgb(255, 255, 255);
  background: -moz-linear-gradient(
      129.81deg,
      rgba(117, 188, 172, 1) 0,
      rgba(0, 0, 0, 0) 59%,
      rgba(0, 0, 0, 0) 100%
    ),
    -moz-linear-gradient(225deg, rgba(230, 62, 97) 0, rgba(0, 0, 0, 0) 100%),
    -moz-linear-gradient(45deg, rgba(227, 202, 118, 1) 0, rgba(0, 0, 0, 0) 39%, rgba(
            0,
            0,
            0,
            0
          )
          100%),
    -moz-linear-gradient(315deg, rgba(0, 126, 157, 1) 0, rgba(0, 126, 157, 0.31)
          41%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 100%),
    rgb(255, 255, 255);
  background: linear-gradient(
      129.81deg,
      rgba(117, 188, 172, 1) 0,
      rgba(0, 0, 0, 0) 59%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(225deg, rgba(230, 62, 97) 0, rgba(0, 0, 0, 0) 100%),
    linear-gradient(
      45deg,
      rgba(227, 202, 118, 1) 0,
      rgba(0, 0, 0, 0) 39%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      315deg,
      rgba(0, 126, 157, 1) 0,
      rgba(0, 126, 157, 0.31) 41%,
      rgba(0, 0, 0, 0) 75%,
      rgba(0, 0, 0, 0) 100%
    ),
    rgb(255, 255, 255);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
}

.cardTitle {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  background-color: #3672bf8c;
  backdrop-filter: blur(30px);
  width: 100%;
  font-weight: bold;
}
.link {
  text-decoration: none;
}

.card {
  text-transform: uppercase;
  background-color: #e7e3ed;
  width: 250px;
  height: 250px;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-size: 32px;
  transition: all 0.4s;
  cursor: pointer;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 0 20px black;
}
.title {
  text-align: center;
  margin-bottom: 40px;
  color: #fff;
  font-family: "Muller Narrow Extra Bold";
  font-size: 40px;
}

.cardList {
  display: flex;
  justify-content: center;
}

.img {
  width: 100%;
  border-radius: 4px;
  height: 100%;
}
.cardWrap {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 1080px;
}

@media (min-width: 900px,max-width:1079px) {
  .cardWrap {
    max-width: 720px;
  }
}

@media (max-width: 900px) {
  .cardWrap {
    max-width: 480px;
  }
}

@media (max-width: 400px) {
  .cardWrap {
    max-width: 320px;
  }
}
