.Drawer {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 80%;
  max-width: 450px;
  padding: 20px 10px;
  box-sizing: border-box;
  background-color: rgba(29, 27, 27, 0.88);
  backdrop-filter: blur(10px);
  transform: translateX(0px);
  transition: transform 0.25s ease-in;
  z-index: 90;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 60px;
}

.Drawer.close {
  transform: translateX(-450px);
}

.listing {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.itemListing {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px 0;
}

.linkListing {
  color: #363d54;
  font-size: 22px;
  font-weight: 700;
  text-decoration: none;
  position: relative;
  color: #fff;
  transition: opacity 0.3s;
  display: flex;
  align-items: center;
}

.linkListing:hover {
  opacity: 0.7;
}
.boxLogo {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.Ava {
  width: 200px;
  margin-bottom: 20px;
}
.userName {
  color: #ffffff;
  text-align: center;
  font-size: 40px;
  font-family: "Muller Narrow Extra Bold";
}

.mail {
  color: #fff;
  font-size: 15px;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  text-shadow: 0 0 10px black;
  text-decoration: none;
}

.icon {
  width: 30px;
  margin-right: 20px;
}
.iconMail {
  width: 25px;
  margin-right: 15px;
}


@media (max-width:400px) {
  .Drawer {
    width: 60%;
    padding: 0 30px;
  }
  .Ava {
    width: 100px;
  }
  .linkListing {
    font-size: 12px;
  }
  .icon {
    width: 20px;
    margin-right: 10px;
  }
  .mail {
    font-size: 12px;
  }
  .iconMail {
    width: 20px;
    margin-right: 10px;
  }
}
