.Quiz {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  flex-grow: 1;
  width: 100%;
  background: -webkit-linear-gradient(-39.81deg, rgba(117,188,172,1) 0, rgba(0,0,0,0) 59%, rgba(0,0,0,0) 100%), -webkit-linear-gradient(-135deg, rgba(230,62,97) 0, rgba(0,0,0,0) 100%), -webkit-linear-gradient(45deg, rgba(227,202,118,1) 0, rgba(0,0,0,0) 39%, rgba(0,0,0,0) 100%), -webkit-linear-gradient(-225deg, rgba(0,126,157,1) 0, rgba(0,126,157,0.31) 41%, rgba(0,0,0,0) 75%, rgba(0,0,0,0) 100%), rgb(255,255,255);
  background: -moz-linear-gradient(129.81deg, rgba(117,188,172,1) 0, rgba(0,0,0,0) 59%, rgba(0,0,0,0) 100%), -moz-linear-gradient(225deg, rgba(230,62,97) 0, rgba(0,0,0,0) 100%), -moz-linear-gradient(45deg, rgba(227,202,118,1) 0, rgba(0,0,0,0) 39%, rgba(0,0,0,0) 100%), -moz-linear-gradient(315deg, rgba(0,126,157,1) 0, rgba(0,126,157,0.31) 41%, rgba(0,0,0,0) 75%, rgba(0,0,0,0) 100%), rgb(255,255,255);
  background: linear-gradient(129.81deg, rgba(117,188,172,1) 0, rgba(0,0,0,0) 59%, rgba(0,0,0,0) 100%), linear-gradient(225deg, rgba(230,62,97) 0, rgba(0,0,0,0) 100%), linear-gradient(45deg, rgba(227,202,118,1) 0, rgba(0,0,0,0) 39%, rgba(0,0,0,0) 100%), linear-gradient(315deg, rgba(0,126,157,1) 0, rgba(0,126,157,0.31) 41%, rgba(0,0,0,0) 75%, rgba(0,0,0,0) 100%), rgb(255,255,255);
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  }


.Quiz h1 {
  color: #fff;
  margin-left: 10px;
}

.QuizWrapper {
  width: 600px;
}
