/* .Circle {
  border: 3px solid white;
  border-radius: 50%;
  height: 15px;
  width: 15px;
}

.Circle.error {
  background: rgba(240, 87, 108, 1);
}

.Circle.success {
  background: rgba(161, 240, 69, 1);
} */
