.main {
  background: linear-gradient(
      129.81deg,
      rgba(117, 188, 172, 1) 0,
      rgba(0, 0, 0, 0) 59%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(225deg, rgba(230, 62, 97) 0, rgba(0, 0, 0, 0) 100%),
    linear-gradient(
      45deg,
      rgba(227, 202, 118, 1) 0,
      rgba(0, 0, 0, 0) 39%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      315deg,
      rgba(0, 126, 157, 1) 0,
      rgba(0, 126, 157, 0.31) 41%,
      rgba(0, 0, 0, 0) 75%,
      rgba(0, 0, 0, 0) 100%
    ),
    rgb(255, 255, 255);
  flex-grow: 1;
}
.wrapper {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
}

.title {
  width: 100%;
  color: #fff;
  font-size: 50px;
  text-align: center;
  font-family: "Muller Narrow Extra Bold";
}
.mainRow {
  color: #fff;
  font-size: 30px;
  text-shadow: 0 0 5px black;
  border: none;
  text-align: center;
}

.elem {
  padding: 10px;
  font-size: 25px;
  text-align: center;
  color: #fff;
  font-weight: 900;
  text-shadow: 0 0 5px black;
}
.iconLogoBox {
  width: 60px;
  margin-right: 10px;
}
.blockIcon {
  color: #fff;
  font-weight: 900;
  font-size: 15px;
}

.rowThead {
  text-align: center;
}
.tableRating {
  min-width: 430px;
  border-collapse: collapse;
  margin: 40px auto;
  color: #fff;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.3);
}
.tdHead {
  padding: 10px;
  font-family: "Muller Narrow Extra Bold";
}

.tdBody {
  border-top: 1px solid #fff;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}
.round {
  background-color: rgba(255, 255, 255, 0.1);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

@media (min-width: 900px) {
  .tableRating {
    min-width: 600px;
  }
}

@media (max-width: 321px) {
  .tableRating {
    min-width: 300px;
  }
  .title {
    font-size: 32px;
  }
}
