.main {
  background: linear-gradient(
      129.81deg,
      rgba(117, 188, 172, 1) 0,
      rgba(0, 0, 0, 0) 59%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(225deg, rgba(230, 62, 97) 0, rgba(0, 0, 0, 0) 100%),
    linear-gradient(
      45deg,
      rgba(227, 202, 118, 1) 0,
      rgba(0, 0, 0, 0) 39%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      315deg,
      rgba(0, 126, 157, 1) 0,
      rgba(0, 126, 157, 0.31) 41%,
      rgba(0, 0, 0, 0) 75%,
      rgba(0, 0, 0, 0) 100%
    ),
    rgb(255, 255, 255);
    flex-grow: 1;
}
.wrapper {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

.title {
  position: fixed;
  width: 100%;
  color: #fff;
  font-size: 50px;
  text-align: center;
  font-family: "Muller Narrow Extra Bold";
}
.ratingTable {
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  margin-top: 100px;
}
.mainRow {
  color: #fff;
  font-size: 30px;
  text-shadow: 0 0 5px black;
  border: none;
  text-align: center;
}
/* 
.line {
  border-bottom: 1px solid #ccc;
} */

.elem {
  border-collapse: separate;
  padding: 10px;
  font-size: 25px;
  text-align: center;
  color: #fff;
  font-weight: 900;
  text-shadow: 0 0 5px black;
}
.iconLogoBox {
  width: 60px;
  margin-right: 10px;
}
.blockIcon {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 900;
  text-shadow: 0 0 5px black;
  font-size: 25px;
}

.iconLogoImg {
  width: 100%;
  border-radius: 50%;
  border: 1px solid #fff;
  display: inline-block;
}
