.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-top: 0px;
  flex-grow: 1;
  width: 100%;
  color: white;
  background: linear-gradient(
      129.81deg,
      rgba(117, 188, 172, 1) 0,
      rgba(0, 0, 0, 0) 59%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(225deg, rgba(230, 62, 97) 0, rgba(0, 0, 0, 0) 100%),
    linear-gradient(
      45deg,
      rgba(227, 202, 118, 1) 0,
      rgba(0, 0, 0, 0) 39%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      315deg,
      rgba(0, 126, 157, 1) 0,
      rgba(0, 126, 157, 0.31) 41%,
      rgba(0, 0, 0, 0) 75%,
      rgba(0, 0, 0, 0) 100%
    ),
    rgb(255, 255, 255);
  background-position: 50% 50%;
}

.profilePic {
  width: 150px;
  height: 150px;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 50%;
  margin-top: 10px;
}
.level {
  font-family: "Muller Narrow Extra Light";
  font-size: 20px;
}

.username {
  font-family: "Muller Narrow Extra Light";
  font-size: 40px;
}

.editForm {
  flex-basis: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  background-color: rgba(11, 14, 15, 0.7);
}
.label {
  color: red;
  text-align: left;
  padding: auto;
}
