.FinishedQuiz {
  color: #fff;
  border-radius: 5px;
  font-family: "Muller Narrow Extra Light";
  font-size: 14pt;
  text-shadow: none;
}

.gameOver {
  text-align: center;
  margin-top: 40px;
  font-size: 60px;
  font-family: "Muller Narrow Extra Bold";
}

.FinishTable {
  width: 100%;
  margin-top: 20px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  padding: 20px;
  border-collapse: collapse;
  box-sizing: border-box;
}

.Result {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 22px;
  margin: 0;
  font-family: "Muller Narrow Extra Bold";
}
.titleResult {
  font-size: 40px;
}

.ResultCircle {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success {
  color: rgb(46, 182, 53);
  font-size: 20pt;
  text-shadow: none;
}

.error {
  color: rgba(240, 87, 108, 0.7);
  font-size: 20pt;
  text-shadow: none;
}

.Status {
  background: rgba(255, 255, 255);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.Row {
  height: 70px;
  text-align: center;
  padding: 5px;
}

.Buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 25px;
}

.Button {
  padding: 10px 20px;
  border-radius: 35px;
  border: 1px solid #ccc;
  color: rgba(255, 255, 255);
  text-transform: uppercase;
  font-size: 26px;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Muller Narrow Extra Bold";
  transition: all 0.4s;
  box-shadow: 0 0 20px black;
}
.Button:hover{
  transform: scale(1.03);
  
}

.Button:focus {
  outline: none;
}

.Button:active {
  box-shadow: inset 1px 1px 0px rgba(0, 0, 0, 0.3);
}
.td {
  border-top: 1px solid #fff;
  min-width: 120px;
  max-width: 300px;
  font-size: 13px;
  font-weight: bold;

}

.tableWrap {
  padding: 25px;
}
.th {
  min-width: 120px;
  max-width: 300px;
  padding: 25px;
}

@media (min-width: 520px) {
  .Button {
    height: 75px;
    width: 250px;
  }
}


@media (max-width: 400px) {
  .Button {
    height: 45px;
    width: 150px;
    font-size: 15px;
  }

  .gameOver {
    font-size: 40px;
  }

  .tableWrap {
    padding: 0;
  }
}
