.wrapper {
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 5%;
  flex-grow: 1;
  width: 100%;
  padding: 20px;
  background: linear-gradient(
      129.81deg,
      rgba(117, 188, 172, 1) 0,
      rgba(0, 0, 0, 0) 59%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(225deg, rgba(230, 62, 97) 0, rgba(0, 0, 0, 0) 100%),
    linear-gradient(
      45deg,
      rgba(227, 202, 118, 1) 0,
      rgba(0, 0, 0, 0) 39%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      315deg,
      rgba(0, 126, 157, 1) 0,
      rgba(0, 126, 157, 0.31) 41%,
      rgba(0, 0, 0, 0) 75%,
      rgba(0, 0, 0, 0) 100%
    ),
    rgb(255, 255, 255);
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  padding: 30px;
  background: rgb(255, 255, 255, 0.3);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-top: 55px;
  /* justify-content: space-between; */
}

.profilePic {
  width: 150px;
  height: 150px;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 50%;
  margin-top: 10px;
}
.level {
  font-family: "Muller Narrow Extra Light";
  font-size: 36px;
}
.userInfo {
  margin: 25px 0;
  min-width: 350px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}
.dataName {
  font-size: 20px;
  color: #fff;
}
.blockList {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 10px;
}

.username {
  font-family: "Muller Narrow Extra Light";
  font-size: 40px;
  font-weight: bold;
}
.results {
  flex-basis: 40%;
  width: 100%;
  /* min-height: auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.resultNumbers {
  /* display: flex; */
  width: 80%;
}
.win {
  padding: 3%;
  flex-basis: 50%;
  text-align: left;
  font-size: 1rem;
}

.span {
  font-size: 5rem;
  font-family: "Muller Narrow Extra Bold";
}
.titleBlock {
  margin: 25px 0;
}

.roundSuccess {
  width: 50px;
  height: 50px;
  background-color: mediumspringgreen;
  border-radius: 50%;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.roundError {
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  font-weight: bold;
  font-family: "Muller Narrow Extra Bold";
}
.textBlock {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 15px;
}

@media (max-width: 576px) {
  .profile {
    width: 420px;
    /* padding: 0; */
  }
  .userInfo {
    min-width: 100%;
  }
}

@media (max-width: 380px) {
  .profile {
    width: 300px;
    padding: 10px;
  }
  .userInfo {
    /* width: 300px; */
  }
}
