* {
  outline: 0 !important;
}
.Button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
    color: #000;
    margin-right: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Muller Narrow Extra Bold';
    outline: none;


}

.Button:focus {
    outline: none;
}

.Button:active {
  box-shadow: inset 1px 1px 0px rgba(0, 0, 0, .3);
}

.Button:disabled {
  background: #ccc;
  color: #000;
  cursor: not-allowed;
}

.error {
  background: rgba(240, 87, 108, 1);
}

.success {
  background: rgb(36, 202, 92);
  color: #fff;
  box-shadow: 0 5px 5px rgba(0,0,0,0.5);
}

.primary {
  background: rgb(255, 92, 124);
  color: #fff;
  box-shadow: 0 5px 5px rgba(0,0,0,0.5);
}
