.AnswerItem {
  background: rgb(119, 119, 119,0.5);
  border-radius: 5px;
  padding: 5px 10px;
  padding: 20px;
  margin-top: 15px;
  margin-bottom: 0px;
  cursor: pointer;
  width: 48%;
  color: white;
  text-align: center;
  font-family: 'Muller Narrow Extra Light';
  font-weight: 800;
  letter-spacing: 0.5pt;
}

.AnswerItem:hover {
  background: rgba(255, 255, 255, .2);
  transition: all .4s ;
  transform: scale(1.03);
}

.AnswerItem.success {
  background: rgb(39, 176, 93, .7);
}

.AnswerItem.error {
  background: rgb(181, 42, 48, .7);
}

@media (max-width:500px) {
  .AnswerItem{
    font-size: 13px;
  }
}
