.profileHeader {
  display: flex;
  height: 15%;
  width: 100%;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
  background-color: rgba(11, 14, 15, 0.6);
  font-family: "Muller Narrow Extra Light";
  font-size: 40px;
  border-radius: 5px;
}

.pfofileName {
  align-content: center;
}

.editButton {
  max-width: 50px;
}
.editButton:hover {
  opacity: 0.5;
}
