.Auth {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  background: linear-gradient(
      129.81deg,
      rgba(117, 188, 172, 1) 0,
      rgba(0, 0, 0, 0) 59%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(225deg, rgba(230, 62, 97) 0, rgba(0, 0, 0, 0) 100%),
    linear-gradient(
      45deg,
      rgba(227, 202, 118, 1) 0,
      rgba(0, 0, 0, 0) 39%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      315deg,
      rgba(0, 126, 157, 1) 0,
      rgba(0, 126, 157, 0.31) 41%,
      rgba(0, 0, 0, 0) 75%,
      rgba(0, 0, 0, 0) 100%
    ),
    rgb(255, 255, 255);
}

.AuthForm {
  padding: 15px;
  border-radius: 5px;
  width: 100%;
  margin-top: 25px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 50px;
  width: 100%;
  max-width: 400px;
  padding: 0 20px;
}

.btnBlock {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
