* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Muller Narrow Extra Light';
  src: url('./fonts/MullerNarrow-Light/MullerNarrow-Light.eot');
  src: url('./fonts/MullerNarrow-Light/MullerNarrow-Light.eot?#iefix') format('embedded-opentype'),
  url('./fonts/MullerNarrow-Light/MullerNarrow-Light.woff') format('woff'),
  url('./fonts/MullerNarrow-Light/MullerNarrow-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }

@font-face {
  font-family: 'Muller Narrow Extra Light Italic';
  src: url('./fonts/MullerNarrow-LightItalic/MullerNarrow-LightItalic.eot');
  src: url('./fonts/MullerNarrow-LightItalic/MullerNarrow-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('./fonts/MullerNarrow-LightItalic/MullerNarrow-LightItalic.woff') format('woff'),
  url('./fonts/MullerNarrow-LightItalic/MullerNarrow-LightItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }

@font-face {
  font-family: 'Muller Narrow Extra Bold';
  src: url('./fonts/MullerNarrow-ExtraBold/MullerNarrow-ExtraBold.eot');
  src: url('./fonts/MullerNarrow-ExtraBold/MullerNarrow-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('./fonts/MullerNarrow-ExtraBold/MullerNarrow-ExtraBold.woff') format('woff'),
  url('./fonts/MullerNarrow-ExtraBold/MullerNarrow-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }

@font-face {
  font-family: 'Muller Narrow Extra Bold Italic';
  src: url('./fonts/MullerNarrow-ExtraBoldItalic/MullerNarrow-ExtraBoldItalic.eot');
  src: url('./fonts/MullerNarrow-ExtraBoldItalic/MullerNarrow-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('./fonts/MullerNarrow-ExtraBoldItalic/MullerNarrow-ExtraBoldItalic.woff') format('woff'),
  url('./fonts/MullerNarrow-ExtraBoldItalic/MullerNarrow-ExtraBoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }
    